# Virtual environment
venv/
.venv/

# Python
__pycache__/
*.py[cod]

# Django
db.sqlite3
staticfiles/
media/

# Environment variables / secrets
.env
.env.*
!.env.example

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
.vercel
.env*
